@font-face {
    font-family: 'Audiowide';
    src: url('Audiowide-Regular.ttf') format('truetype');
}

body {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 300px;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-family: 'Audiowide', sans-serif;
    text-shadow: 
        -1px -1px 0 #000, 
        1px -1px 0 #000, 
        -1px 1px 0 #000, 
        1px 1px 0 #000;
}

@keyframes FadeOutAnimation {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.5);
    }
}

.fade-out {
    animation: FadeOutAnimation 0.5s ease-out forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.fade-in {
    animation: fadeInAnimation 0.5s ease-out forwards;
}

.message {
    display: none;
}

.message {
    font-family: 'Audiowide', sans-serif;
    color: white;
    font-size: 1.2em;
    text-align: center;
}

@keyframes dotAnimation {
    0%, 100% { opacity: 1; }
    33% { opacity: 0; }
    66% { opacity: 0; }
}

.dot {
    animation: dotAnimation 1.5s infinite;
}

.dot:nth-child(2) {
    animation-delay: 0.5s;
}

.dot:nth-child(3) {
    animation-delay: 1s;
}

div {
    text-align: center;
    margin: 15px 0;
}

#english-btn, #not-english-btn {
    font-family: 'Audiowide', sans-serif;
    background-color: transparent;
    color: #ffffff;
    margin: 4px 2px;
    padding: 10px 20px;
    border: none;
    font-size: 1.04em;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    text-decoration: none;
    display: inline-block;
    width: 120px;
}

#english-btn:hover, #not-english-btn:hover {
    background-color: #003366;
}

#english-btn:active, #not-english-btn:active {
    background-color: #0099CC;
}

.result-text {
    color: white;
    font-family: 'Audiowide', sans-serif;
}

.result-L {
    color: #39FF14;
}

.result-P {
    color: red;
}

.result-L, .result-P {
    font-weight: bold;
}

#result {
    font-size: 1.3em;
}

@keyframes swipeInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes swipeInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.swipe-left {
    animation: swipeInLeft 0.5s ease-out forwards;
}

.swipe-right {
    animation: swipeInRight 0.5s ease-out forwards;
}

.error-message {
    color: white;
    font-weight: bold;
}
